%h1 Menu principal 

%h3= flash[:notice]

= button_to 'Logout', login_path(), :method => :delete

%p
  %a{:href => '/alunos'} Lista de alunos
%p
  %a{:href => '/professor/excel'} Adicionar aluno via excel
%p 
  %a{:href => '/alunos/new'} Adicionar aluno manualmente
%p 
  %a{:href => '/professor/gerador'} Gerar grupos
