%h1 Hello World!
%h2 This is our app!

%h3= flash[:notice]

%p Login professor:
%form{:action => "login", :method=> "post"}
  %label Username 
  %input{:name => "name"}
  %label Senha 
  %input{:name => "pass", :type => "password"}
  %button{:type => "submit"} Login

%p Login aluno:
%form{:action => "login", :method=> "post"}
  %label Username 
  %input{:name => "name"}
  %label Senha 
  %input{:name => "pass", :type => "password"}
  %button{:type => "submit"} Login

%a{:href => 'login/new'} Cadastro de administrador

%a{:href => 'login/new_aluno'} Cadastro de aluno

