%h1 Hello World!
%h2 This is our app!


%p Login professor:
%form{:action => "/", :method=> "post"}
  %label Username 
  %input
  %label Senha 
  %input{:type => "password"}
  %button{:type => "submit"} Login



