%header.navbar.navbar-fixed-top.navbar-inverse
  #container
    = link_to "Progrules", professor_path(), id: "logo"
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Log Out", login_path(), :method => :delete
        %li= link_to "Sign up", 'login/new'
    #content
      = yield
    #sidebar
